@charset "utf-8";

@media screen and (max-width: 800px){
    main{
        
        width: 80%;
       
    }
    header{
        min-height: 120px;
        background-image: url(../imagens/Site\ para\ Link\ na\ Bio\ Tecnologia\ e\ Jogos\ Escuro\ Simples\ Azul-escuro.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: contain;
       
    }
    header h1{
    
        font-size: 2em;

}
    header p{
        font-size: 1em;
    }
    nav{
       
        background-color: rgb(0, 0, 0);
        color:;
       
        
    }
    nav a{
        display: inline-block;
        font-size: 0.8em;
        width: 70px;
        
        
    }
    nav  a:not(:last-child){
        margin-right: 30px;
    }
    

    main  h1 {
      
        font-size: 1.3em;
     }
     main h2 {
         
         font-size: 1em;
        
         
} 
    
}