@charset "utf-8";

@media screen and (max-width: 900px){
    main{
        
        width: 80%;
        font-size: 0.9em;
       
    }
    header{
        min-height: 120px;
    }
    header h1{
    
        font-size: 2em;

}
    header p{
        font-size: 1em;
    }
    nav{
       
        background-color: var(--cor1);
        display: flex;
       
        
    }
    nav a{
        display: inline-block;
        font-size: 0.8em;
        width: 70px;
        
        
    }
    nav  a:not(:last-child){
        margin-right: 30px;
    }
    

    main  h1 {
      
        font-size: 1.3em;
     }
     main h2 {
         font-size: 1em;
} 
    aside{
    font-size: 0.8em;
}
    aside ul{ 
    padding: 9px;
   
 }
    footer{
    height: 30px;
   
   

 }
    
}